# Maven (Builds gerados localmente)
target/

# IDE: VS Code
.vscode/

# IDE: NetBeans 
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# SEGURANÇA: Credenciais locais (NÃO enviar ao GitHub)
config.properties
